.navbar {
    background-color: bisque;
}

.quem-somos {
    background-color: rgb(236, 105, 215);
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: cadetblue;
}

.bg-footer {
    background-color: rgb(131, 165, 97);
    color: cornsilk;
}